
.fag h3 {
    color: #43121d;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
}

.firstRow {
    margin: 75px 0;
}

.secandRow {
    margin-bottom: 100px;
}